<div class="row">
	<div class="form-group">
		<div class="col-sm-3">
			<select class="form-control" ng-change="selectRpAction()"
				ng-model="selectedRp"
				ng-options="rp as rp.rateplanDescrition for rp in rateplans">
				<option value="">--choose value--</option>
			</select>
		</div>
		<div class="col-sm-2">
			<button class="btn btn-sm btn-primary btn-block"
				ng-click="getRateplansAction()">
				Get all rate plan</strong>
			</button>
		</div>
		<div class="col-sm-7"></div>
	</div>
</div>

<div class="row">
	<div class="col-md-5">
		<br /> <br />
		<table class="table table-striped table-bordered" >
			<thead>
				<tr>
					<th>Short description</th>
					<th>Description</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="sp in spackages" class="ng-scope">
					<td class="ng-binding">{{sp.spShdes}}</td>
					<td class="ng-binding">{{sp.spDescriptino}}</td>
					<td class="action-column">
						<button type="button" class="btn btn-info btn-sm"
							ng-click="Edit(sp)">Edit</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-7"></div>
	<div class="col-md-6"></div>
</div>




