
<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Monthly Bill Payment</h3>
		<span class="pull-right clickable"><i
			class="glyphicon glyphicon-minus"></i></span>
	</div>
	<div class="panel-body">
		<div class="form-group">

			<div class="row">
				<div class="col-md-4">
					<img src="resources/image/fleche2.gif  " /> <label
						for="Monthly_bill_payment"> Monthly bill payment
						Reference: </label>
				</div>
				<div class="col-md-4">
					<input type="text" class="form-control" ng-model="billRef"
						placeholder="Enter a bill reference" required autofocus>
				</div>
				<div class="col-md-4"></div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<img src="resources/image/fleche2.gif  " /> <label
						for="Customer_number"> Customer number: </label>
				</div>
				<div class="col-md-4">
					<input type="text" class="form-control" ng-model="custNum"
						placeholder="Enter a customer number" required autofocus>
				</div>
				<div class="col-md-4"></div>
			</div>
		</div>
	</div>
</div>